{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<h1 class="title">Administration panel</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 white-background">
			<p>From here we can edit all the desired content between them</p>    	
            <ul>
                <li>Students</li>
                <li>Spekers</li>
                <li>Projects</li>
                <li>Matiere</li>

            </ul>    
		</div>
	</div>
</div>
{% endblock %}
