{% extends 'base.html.twig' %}

{% block title %}New Intervenant{% endblock %}

{% block body %}
	<h5 class="title">Create new Intervenant</h5>

        {{ include('intervenant/_form.html.twig') }}

{% endblock %}
