{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
<div class="container form">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<h5 class="title">Create new Studiant</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 white-background">
			{{ include('etudiant/_form.html.twig') }}
    <a href="{{ path('etudiant_index') }}"><i class="fa fa-reply" aria-hidden="true"></i>back to list</a>
		</div>
	</div>
</div>
 
   
{% endblock %}
